<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconojuan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconojuan"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal_RegistroControl_JAAS"
        tools:targetApi="31">

        <activity
            android:name=".Activity_Mostrar_Horario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Login"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_A_Activar_InActivar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_A_Consultar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_A_Crear"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_P_Activar_InActivar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_P_Consultar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_P_Crear"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_E_Activar_InActivar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_E_Consultar"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin_Funcion_E_Crear"
            android:exported="false" />
        <activity
            android:name=".Activity_Menu_Estu"
            android:exported="false" />
        <activity
            android:name=".Activity_Menu_Profe"
            android:exported="false" />
        <activity
            android:name=".Activity_Menu_Administrativo"
            android:exported="false" />
        <activity
            android:name=".Fragment_Bienvenida"
            android:exported="false" />
        <activity
            android:name=".Fragment_Admin_M_A"
            android:exported="false" />
        <activity
            android:name=".Fragment_Admin_M_E"
            android:exported="false" />
        <activity
            android:name=".Fragment_Admin_M_P"
            android:exported="false" />

        <activity
            android:name=".Fragment_Estudiante_Materia"
            android:exported="false" />
        <activity
            android:name=".Activity_Estudiante_Video"
            android:exported="false" />

    </application>

</manifest>